@charset "UTF-8";
/*css document*/
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, input, textarea, fieldset, figure {
  margin: 0;
  padding: 0; }

html {
  font-size: 26.67vw !important;
  height: 100%; }

body {
  font-family: "微软雅黑",Arial;
  background: #f4f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: hidden; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

.header {
  width: 100%;
  height: .44rem;
  background: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between; }

.header-content {
  float: left;
  width: 2.52rem;
  height: .44rem;
  background: url(../img/you_logo_20171109.jpg) no-repeat 50% 50%;
  background-size: 33%;
  text-decoration: none;
  cursor: pointer;
  flex: 1; }

.header-left {
  float: left;
  width: .6rem;
  height: .44rem;
  background: url(../img/search.png) no-repeat;
  text-decoration: none;
  cursor: pointer; }

.header-right {
  float: left;
  width: .6rem;
  height: .44rem;
  background: url(../img/mgs.png) no-repeat;
  text-decoration: none;
  cursor: pointer; }

.main {
  flex: 1;
  overflow: auto; }

.activity {
  height: .4rem;
  background-color: #fff;
  margin-bottom: .14rem; }
  .activity > span {
    float: left;
    width: auto;
    height: .4rem;
    color: #7f2400;
    font-size: .12rem;
    line-height: .4rem;
    padding-left: .5rem;
    vertical-align: top;
    background: url(../img/i.png) no-repeat 25% 50%;
    background-size: .12rem; }

.goods-menu {
  width: 100%;
  height: 1.98rem;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .goods-menu a {
    width: 25%;
    overflow: hidden;
    display: block;
    text-decoration: none;
    background: #fff;
    margin-top: .12rem;
    color: #000; }
    .goods-menu a img {
      margin: 0 auto; }
    .goods-menu a p {
      text-align: center;
      font-size: .14rem;
      line-height: .18rem;
      height: .18rem; }

.shop-goods {
  background-color: #fff;
  overflow: hidden; }
  .shop-goods h3 {
    width: 100%;
    height: .47rem;
    background-color: #f4f3f3;
    font-size: .2rem;
    line-height: .47rem;
    font-weight: 400;
    text-indent: .14rem; }
  .shop-goods h3 + div {
    width: 50%;
    height: 2.72rem;
    float: left;
    background: #fff;
    position: relative; }
    .shop-goods h3 + div dl {
      margin: .15rem 0 0 .15rem;
      background: #fff; }
      .shop-goods h3 + div dl dt {
        font-size: .18rem;
        color: #000;
        line-height: .26rem; }
      .shop-goods h3 + div dl dd {
        font-size: .15rem;
        color: #b4b4b4; }
        .shop-goods h3 + div dl dd span {
          font-size: .14rem;
          color: #b4b4b4; }

.shop-goods-right {
  width: 50%;
  height: 1.35rem;
  float: left;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #f4f3f3; }
  .shop-goods-right dl {
    margin: .15rem 0 0 .15rem;
    background: #fff; }
    .shop-goods-right dl dt {
      font-size: .18rem;
      color: #000;
      line-height: .26rem; }
    .shop-goods-right dl dd {
      font-size: .15rem;
      color: #b4b4b4; }
      .shop-goods-right dl dd span {
        font-size: .14rem;
        color: #b4b4b4; }
  .shop-goods-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: .18rem; }

.shop-goods-bottom {
  width: 100%;
  height: 1.35rem;
  float: left;
  background: #fff;
  position: relative;
  border-top: 1px solid #f4f3f3; }
  .shop-goods-bottom dl {
    margin: .15rem 0 0 .15rem;
    background: #fff; }
    .shop-goods-bottom dl dt {
      font-size: .18rem;
      color: #000;
      line-height: .26rem; }
    .shop-goods-bottom dl dd {
      font-size: .15rem;
      color: #b4b4b4; }
      .shop-goods-bottom dl dd span {
        font-size: .14rem;
        color: #b4b4b4; }
  .shop-goods-bottom img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: .18rem; }

.out-special h3 {
  width: 100%;
  height: .45rem;
  text-indent: .16rem;
  font-size: .18rem;
  line-height: .45rem;
  font-weight: 100;
  background-color: #f4f3f3; }
  .out-special h3 span {
    float: right;
    text-align: left;
    font-size: .18rem;
    color: #b7b6d8;
    margin-right: .2rem; }

.out-special div + div {
  display: flex;
  flex-flow: row wrap; }

.man-shoes h3 {
  width: 100%;
  height: .45rem;
  text-indent: .16rem;
  font-size: .18rem;
  line-height: .45rem;
  font-weight: 100;
  background-color: #f4f3f3; }
  .man-shoes h3 span {
    float: right;
    text-align: left;
    font-size: .18rem;
    color: #b7b6d8;
    margin-right: .2rem; }

.man-shoes > div {
  display: flex;
  flex-flow: row nowrap;
  background: #f4f3f3;
  overflow-x: auto; }
  .man-shoes > div > div {
    width: 1.26rem;
    height: 1.6rem;
    background: #fff;
    margin-right: .05rem; }
    .man-shoes > div > div a {
      display: block; }
      .man-shoes > div > div a p {
        font-size: .16rem;
        color: #888888;
        line-height: .16rem;
        margin: .16rem .08rem;
        width: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .man-shoes > div > div a div {
        padding: .12rem; }
        .man-shoes > div > div a div img {
          width: 95%;
          height: 95%; }

.man-shoes > div::-webkit-scrollbar {
  width: 0 !important; }

.goods-pro {
  width: 50%;
  height: 2.78rem;
  background: #ffff;
  border-bottom: 1px solid #f4f4f3; }
  .goods-pro a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-right: 1px solid #f4f4f3;
    height: 100%; }
    .goods-pro a div {
      padding: .12rem; }
      .goods-pro a div img {
        width: 98%;
        height: 95%; }
    .goods-pro a div + p {
      font-size: .18rem; }
    .goods-pro a div + p + p {
      color: red;
      font-size: .15rem;
      font-weight: 500;
      margin: .05rem 0 0.08rem 0; }
    .goods-pro a div + p + p + p {
      font-size: .12rem; }
      .goods-pro a div + p + p + p span {
        font-size: .12rem;
        border: 1px solid #d7d7d7;
        background: #ededed;
        color: #b4b4b4;
        margin-right: .04rem; }
      .goods-pro a div + p + p + p span + span {
        font-size: .12rem;
        border: 1px solid #e03045;
        background: #fff;
        color: #e03045; }

.company {
  height: .5rem;
  padding-top: 0.15rem;
  background: #f4f3f3; }
  .company p > a {
    color: #666666; }
  .company p {
    text-align: center;
    font-size: .12rem;
    color: #666666;
    line-height: .12rem; }

.footer {
  width: 100%;
  height: .55rem;
  border-top: 1px solid #efefef;
  background-color: #fafafa;
  display: flex; }
  .footer > a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: .55rem;
    color: #696969; }
    .footer > a i {
      font-size: .24rem;
      font-weight: 500;
      margin: 0 0 .04rem 0; }
    .footer > a span {
      font-size: .12rem; }
