@charset "utf-8";
/*css document*/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea,fieldset,figure{
	margin:0;
	padding:0;
}
html{
    font-size: 26.67vw !important;
    height:100%;
}
body{
	font-family:"微软雅黑",Arial;
    background: #f4f3f3;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:100%;
    overflow-y:hidden;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:0;
	display: block;
}
// header
.header{
    width:100%;
    height:.44rem;
    background:#fff;
    border-bottom:1px solid #efefef;
    display:flex;
    justify-content:space-around;
    a{
        width:.48rem;
        display: block;
        color:#333333;
        font-size:.16rem;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        i{
            font-size:.24rem;
            color:#a2a2a2;  
        }
    }
    span{
        font-size:.17rem;
        display: block;
        width:61.34vw;
        text-align:center;
        line-height:.44rem;
        color:#333333;
    }
}
// .header-content{
//     float:left;
//         width:2.52rem;
//         height:.44rem;
//         background:url(../img/you_logo_20171109.jpg) no-repeat 50% 50%;
//         background-size:33%;
//         text-decoration:none;
//         cursor:pointer;
//         flex:1;
// }
.header-left{
    float:left;
    width:.6rem;
    height:.44rem;
    background:url(../img/search.png) no-repeat;
    text-decoration:none;
    cursor:pointer;
}
// .header-right{
//     float:left;
//     width:.6rem;
//     height:.44rem;
//     background:url(../img/mgs.png) no-repeat;
//     text-decoration:none;
//     cursor:pointer;
// }
.main{
    flex:1;
    overflow:auto;
}
.goods-img{
    display:flex;
    flex-wrap:nowrap;
    overflow-x: auto;
    margin-bottom: -17px;
    img{
        width:100%;
        height:100%;
    }
    &::-webkit-scrollbar { width: 0 !important }
}
.goods-mgs{
    padding:.1rem 0;
    border:1px solid #ededed;
    background-color:#fff;
    display:flex;
    justify-content: space-between;
    &>div{
       width:76vw;
       border-right:1px solid #ededed;
       p{
            padding:.05rem .1rem;
       }
       p+p{
            padding:.05rem .1rem;
            font-size:.18rem;
            color:#4a4a4a;
       }
       p+p+p{
            padding:.05rem .1rem;
            font-size:.18rem;
            color:#ea7d51;
            font-weight:600;
       }
    }
    div+div{
        flex:1;
        width:.9rem;
        height:.94rem;
        flex-basis:.9rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        i{
            font-size: .22rem;
            color:#646464;
        }
        span{
            margin-top:.1rem;
            font-size:.12rem;
            color:#cccccc;
        }
    }
}
.shopCar-tit{
    height: .44rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:0 .2rem;
    div{
        font-size:0;
        position: relative;
        span{
            font-size:.12rem;
            color:#9b9b9b;
        }
    }
    &>div:before{
        content:"";
        display:block;
        border:.01rem solid #9b9b9b;
        width:0;
        height:0;
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        left:-.1rem;
    }
}
.goods-size{
        margin-bottom:.05rem;
        padding:0 .2rem;
        background-color:#fff;
        border-top:1px solid #eaeaea;
        border-bottom:1px solid #eaeaea;
    p{  
        display:flex;
        justify-content: space-between;
        padding:.12rem 0;
        font-size:.14rem;
        color:#333;
        background-color:#fff;
      
        a{
            font-size:.14rem;
            color:#333;
            span{
                color:#cccccc;
                font-size:.1rem;
            }
        }
        a+span{
            font-size: .14rem;
            color: rgba(74,74,74,.6);
        }
    }
}
.evaluate-box{
    border-bottom:1px solid #ececec;
}
.goods-img-pro{
    margin-top:.08rem;
    img{
        display:block;
        width:100%;
    }
}
// gotop
.gotop{
    width:.4rem;
    height:.4rem;
    position:fixed;
    right:.12rem;
    bottom:.6rem;
    width:.39rem;
    border:1px solid #cdcdcb;
    background: #fff;
    border-radius:50%;
    opacity: .9;
    z-index: 5;
    font-size:.2rem;
    text-align:center;
    line-height:.4rem;
}
// footer
.footer{
    height:.44rem;
    background-color:#fff;
    display: flex;
    align-items: center;
    padding:.03rem .03rem;
    a{
        font-size:.12rem;
        text-align:center;
        line-height:.45rem;
        width:.5rem;
        height:.45rem;
        color:#7b7b7b;  
        i{
            font-size:.24rem;
            font-weight:500;
            margin:0 0 .04rem 0;
        }    
    }
    a+a{
        width:1.58rem;
        height:.45rem;
        text-align:center;
        line-height:.45rem;
        background-color:#9c937a;
        margin:0 .03rem;
        color:#fff;
        border-radius:.02rem;
    }
    a+a+a{
        width:1.57rem;
        height:.45rem;
        text-align:center;
        line-height:.45rem;
        background-color:#d2ab44;
        color:#fff;
        border-radius:.02rem;
    }
    & > a{
        text-align:center;
    }
}
.header-left{
    width:.36rem;
    background:url(../img/left.png) no-repeat 0 0; 
}

